.container {
    display: grid;
    grid-template-rows: auto 1fr;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--color-bg);
}

.content {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding: 30px 40px;
}