.main {

    &-content {
        display: flex;
        flex-direction: column;
        gap: 50px;


        h2 {
            margin-bottom: 25px;
        }

        p {
            font-size: 20px;
            word-spacing: 2px;
        }
    }

    &-apresentation {
        .principal-title {
            font-size: 45px;
        }

        .label-title {
            font-size: 24px;
        }

        p {
            margin: 25px 0;
            width: 300px;
        }

        button {
            font-size: 18px;
            padding: 10px 15px;
            cursor: pointer;
            background: var(--color-cards);
            border: none;
            border-radius: 8px;
            transition: color 0.5s ease, box-shadow 0.1s ease;
            color: var(--color-text-secondary);

            &:hover {
                color: var(--color-text-primary);
                box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
            }
        }
    }

    &-about-me {
        p {
            width: 450px;
        }
    }


    &-projects {
        .projects-content {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
        }
    }


    &-contact {
        ul {
            flex-direction: column;

            .contact-icon {
                width: 20px;
                height: 20px;
            }

            li {
                margin: 10px 0;
                align-items: center;
                gap: 15px;
                color: var(--color-text-secondary);


                &:hover {
                    color: var(--color-text-primary);

                }

                .email {
                    cursor: text;
                }
            }
        }
    }
}