.card {
    &-container {
        width: 250px;
        background-color: var(--color-cards);
        padding: 10px 20px;
        text-align: center;

        @media screen and (max-width:40rem) {
            width: 80vw;
        }

        img {
            width: 210px;
            height: 200px;
        }

        p {
            margin: 20px 0;
        }

        button {
            padding: 10px 15px;
            cursor: pointer;
            background: var(--color-bg);
            border: none;
            border-radius: 8px;
        }
    }
}